:root {
  --accent-color: #03A9F4;
  --menu-color: #7d7d7d;
  --link-color: #b4ad9e;
  --title-color: #626262;
  --text-color: #626262;
  --cursor: pointer;
  --bg-button: rgb(175, 77, 175);
  --button-color: wheat;
}

body {
  font-family: "Playfair Display";
  font-style: normal;
  line-height: normal;
  font-weight: 400;
  font-size: 14px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* header */

.header-menu-item {
  color: var(--menu-color);
}

.header-menu-item:hover,
.header-menu-item:focus {
  color: var(--accent-color);
  cursor: var(--cursor);
}

/* Секція блогів */
.blogs-link {
  color: var(--link-color);
  font-family: "Ubuntu";
  font-weight: 300;
}

.blogs-link:hover,
.blogs-link:focus{
  color: var(--accent-color);
}

.blogs-title {
  color: var(--title-color);
  font-size: 30px;
}

.blogs-text {
  color: var(--text-color);
}

.blogs-button {
  background-color: var(--bg-button);
  color: var(--button-color);
  cursor: var(--cursor);
}

/*  Специфічність*/
#id-title {
    color: blue;
}

section .title {
    color: red;
}

/*  pseudo classes*/
/* .list-item:not(:last-child) */
.list-item {
  margin-bottom: 12px;
}

.list-item:last-child {
  margin-bottom: 0;
}


/* :nth-child(an+b)*/

/* .list-item:nth-child(5) {
  background-color: orange;
} */

/* Парні */

/* .list-item:nth-child(2n) {
  background-color: orange;
} */

/* АБО */
/* .list-item:nth-child(even) {
  background-color: orange;
} */

/*  непарні елементи */
/* .list-item:nth-child(2n + 1) {
  background-color: orange;
} */
/* АБО */
/* Аналогічно, використовуючи псевдонім */
/* .list-item:nth-child(odd) {
  background-color: orange;
} */

/* Від N-го елемента​ */
/* .list-item:nth-child(n + 6) {
  background-color: orange;
} */
/* До N-го елемента */
/* .list-item:nth-child(-n + 5) {
  background-color: orange;
} */

/* Кожен N-й елемент */
/* .list-item:nth-child(3n + 1) {
  background-color: orange;
} */

/*  Творче завдання */
.schedule-body>tr:hover {
  background-color: tomato;
  color: white;
}

/* Оформлення таблиці */
.schedule {
  border-collapse: collapse;
}

.schedule th,
.schedule td {
  padding: 8px;
  border: 1px solid #212121;
}

/* вибирає перший селектор цього типу; */
/* .schedule-body>tr:first-of-type {
  background-color: tomato;
  color: white;
} */

/* вибирає останній селектор цього типу; */
/* .schedule-body>tr:last-of-type {
  background-color: tomato;
  color: white;
} */




